<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <title>User | Fil d'actu</title>
</head>

<body>
    <%- include('./partials/navbar-user.ejs') %>
    <div class="row text-center">
        <div class="col"></div>
        <div class="col p-5">
            <form action="/new_actu" method="post">
                <div class="form-group">
                    <textarea name="publiMessage" id="publiMessage" cols="40" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <input type="file" name="fichier" id="fichier" class="form-control" placeholder="upload">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-warning"> Publier </button>
                </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
    <hr>

    <h2 class="text-warning">Fil d'actualité | </h2>
   
    <hr>



    <%- include('./partials/script_js.ejs')%>
</body>
<footer>
    <%- include('./partials/foot.ejs')%>
</footer>

</html>