<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <title>User | Change password</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ChatTime</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fil d'actualites</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Setting
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profil">Profil</a></li>
                            <li><a class="dropdown-item" href="/password">Change password</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>
                </ul>

                <b> System noName | Hello <span class="text-ligth">
                        <%= user.prenom %>
                    </span></b>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
                <form action="/logOut_form" method="post" class="d-flex">
                    <button class="btn btn-outline-warning" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-6 col-10 p-5">
                    <h2 class="mb-4 text-warning">Changer votre mot de passe</h2>
                    <form method="POST" action="/password_form">
                        <div class="form-group mb-3">
                            <input type="password" class="form-control" placeholder="Entrer votre nouveau Mot de passe" id="npass"
                                name="npass" required>
                        </div>

                        <div class="form-group mb-3">
                            <input type="password" name="npassbis" id="npassbis" class="form-control" placeholder="Confiemer votre nouveau Mot de passe"
                                required>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-warning" value="Changer"> Changer </button>
                            <p class="text-right form-text"> Vous voulez revenir,
                                <a href="/userHome">
                                    Annuler
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    <%- include('./partials/foot.ejs')%>
    <%- include('./partials/script_js.ejs')%>
</body>

</html>